database/n8n/file-scan-workflow.json
{
  "name": "File Scan Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "file-scan",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e6f4a8cb-3129-4d69-a1b7-a06f369f4bc1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clamav:9000/scan",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "f5e921d7-21a4-44ee-a541-b847a9ef381d",
      "name": "ClamAV Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.infected }}",
              "value2": true
            }
          ]
        }
      },
      "id": "18f8e7a0-02c3-4d40-b6c8-f2910ba7654a",
      "name": "If Infected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/n8n/scan-callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"evidence_file_id\": \"{{ $('Webhook').first().json.body.evidence_file_id }}\",\n  \"scan_status\": \"infected\",\n  \"scan_details\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "0d2c9431-7bc7-4952-bf6e-6c0b1bb85a21",
      "name": "Notify Laravel Infected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        910,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/n8n/scan-callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"evidence_file_id\": \"{{ $('Webhook').first().json.body.evidence_file_id }}\",\n  \"scan_status\": \"clean\",\n  \"scan_details\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "97e6840d-d421-4f19-a419-f538e1a17cb4",
      "name": "Notify Laravel Clean",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        910,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ClamAV Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClamAV Scan": {
      "main": [
        [
          {
            "node": "If Infected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Infected": {
      "main": [
        [
          {
            "node": "Notify Laravel Infected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Laravel Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "active": true
}
