database/n8n/unified-evidence-workflow.json
{
  "name": "Unified Evidence Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evidence-processing",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e6f4a8cb-3129-4d69-a1b7-a06f369f4bc1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9300/scan",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "f5e921d7-21a4-44ee-a541-b847a9ef381d",
      "name": "ClamAV Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.infected }}",
              "value2": true
            }
          ]
        }
      },
      "id": "18f8e7a0-02c3-4d40-b6c8-f2910ba7654a",
      "name": "If Infected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/n8n/scan-callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"evidence_file_id\": \"{{ $('Webhook').first().json.body.evidence_file_id }}\",\n  \"scan_status\": \"infected\",\n  \"scan_details\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "0d2c9431-7bc7-4952-bf6e-6c0b1bb85a21",
      "name": "Notify Laravel Infected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/n8n/scan-callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"evidence_file_id\": \"{{ $('Webhook').first().json.body.evidence_file_id }}\",\n  \"scan_status\": \"clean\",\n  \"scan_details\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "97e6840d-d421-4f19-a419-f538e1a17cb4",
      "name": "Notify Laravel Clean",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Read all data from Webhook JSON fields.\n// Laravel sends file_base64 and mime_type as plain text form fields,\n// so we never need to touch n8n binary data (which is inaccessible in the Code node sandbox).\nconst webhook = $('Webhook').first().json.body;\n\nreturn {\n  base64: webhook.file_base64,\n  mimeType: webhook.mime_type || 'application/octet-stream',\n  requirement_text: webhook.requirement_text || '',\n  evidence_file_id: webhook.evidence_file_id || '',\n  project_name: webhook.project_name || '',\n  requirement_num: webhook.requirement_num || '',\n  original_filename: webhook.original_filename || '',\n  auditor_email: webhook.auditor_email || '',\n  review_link: webhook.review_link || '',\n  gemini_api_key: webhook.gemini_api_key || ''\n};"
      },
      "id": "e5c4b3a2-d1e0-4c9b-a8f7-e6d5c4b3a2a1",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $json.gemini_api_key }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{ $json.mimeType }}\",\n            \"data\": \"{{ $json.base64 }}\"\n          }\n        },\n        {\n          \"text\": \"You are a professional PCI DSS Compliance Auditor. Analyze the attached document against this compliance requirement:\\n\\n\\\"{{ $json.requirement_text }}\\\"\\n\\nAnalyze the document carefully. Assess if the evidence is sufficient, partially sufficient, or completely lacking to meet the requirement. Write a formal audit observation and list actionable recommendations if there are gaps (or state 'None' if fully compliant).\\n\\nYou must return a JSON response matching the following structure:\\n{\\n  \\\"status\\\": \\\"completed\\\",\\n  \\\"observations\\\": \\\"Detailed analysis and observations explaining what the file shows and why it is/is not compliant.\\\",\\n  \\\"recommendations\\\": \\\"Actionable steps for remediation, or 'None' if fully compliant.\\\"\\n}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "id": "b8d7c6b5-a4e3-4d2c-b1b0-c9a8f7e6d5c4",
      "name": "Gemini API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1160,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "if ($json.error) {\n  return {\n    status: 'failed',\n    observations: 'Gemini API Error: ' + ($json.error.message || JSON.stringify($json.error)),\n    recommendations: 'Please check your API key and connection settings.'\n  };\n}\nif ($json.candidates && $json.candidates[0]) {\n  try {\n    let responseText = $json.candidates[0].content.parts[0].text;\n    responseText = responseText.replace(/```json/g, '').replace(/```/g, '').trim();\n    const result = JSON.parse(responseText);\n    \n    let observations = result.observations || 'No observations generated by AI.';\n    if (Array.isArray(observations)) {\n      observations = observations.join('\\n');\n    } else if (typeof observations !== 'string') {\n      observations = JSON.stringify(observations);\n    }\n    \n    let recommendations = result.recommendations || 'None';\n    if (Array.isArray(recommendations)) {\n      recommendations = recommendations.join('\\n');\n    } else if (typeof recommendations !== 'string') {\n      recommendations = JSON.stringify(recommendations);\n    }\n    \n    return {\n      status: 'completed',\n      observations: observations,\n      recommendations: recommendations\n    };\n  } catch (e) {\n    return {\n      status: 'failed',\n      observations: 'Failed to parse Gemini response: ' + e.message,\n      recommendations: 'Ensure the model output conforms to the JSON schema.'\n    };\n  }\n}\nreturn {\n  status: 'failed',\n  observations: 'AI Analysis Failed: No candidates returned from Gemini API.',\n  recommendations: 'Verify the uploaded file format and content size.'\n};"
      },
      "id": "c7b6a5a4-9e8d-4c7b-b6a5-f4e3d2c1b0a9",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/n8n/ai-callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"evidence_file_id\": \"{{ $('Prepare Data').first().json.evidence_file_id }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"observations\": {{ JSON.stringify($json.observations || '') }},\n  \"recommendations\": {{ JSON.stringify($json.recommendations || '') }}\n}",
        "options": {}
      },
      "id": "d6c5b4a3-8e7d-4c6b-a5a4-f3e2d1c0b9a8",
      "name": "Notify Laravel AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1520,
        420
      ]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@compliancehub.com",
        "toEmail": "={{ $('Prepare Data').first().json.auditor_email }}",
        "subject": "=Evidence Awaiting Review: {{ $('Prepare Data').first().json.project_name }} - {{ $('Prepare Data').first().json.requirement_num }}",
        "html": "=<h3>Evidence Awaiting Review</h3>\n<p>A new evidence file has been uploaded and processed by AI. It is now awaiting your validation.</p>\n<ul>\n  <li><strong>Project:</strong> {{ $('Prepare Data').first().json.project_name }}</li>\n  <li><strong>Requirement:</strong> {{ $('Prepare Data').first().json.requirement_num }}</li>\n  <li><strong>File Name:</strong> {{ $('Prepare Data').first().json.original_filename }}</li>\n</ul>\n<p><a href=\"{{ $('Prepare Data').first().json.review_link }}\">Click here to view and validate the evidence.</a></p>",
        "options": {
          "emailFormat": "html"
        }
      },
      "id": "d8c7b6a5-9e8d-4c7b-b6a5-f4e3d2c1b0a9",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1700,
        420
      ],
      "credentials": {
        "smtp": {
          "id": "dummy-smtp-credentials-id",
          "name": "Mailpit SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ClamAV Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClamAV Scan": {
      "main": [
        [
          {
            "node": "If Infected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Infected": {
      "main": [
        [
          {
            "node": "Notify Laravel Infected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Laravel Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Laravel Clean": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Gemini API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API Call": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Notify Laravel AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Laravel AI": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "active": true
}
