database/n8n/unified-evidence-workflow.json
{"updatedAt":"2026-06-20T19:26:31.986Z","createdAt":"2026-06-20T10:39:12.197Z","id":"lZCmyOmpCufKAW18","name":"Unified Evidence Processing Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"evidence-processing","responseMode":"lastNode","options":[]},"id":"e6f4a8cb-3129-4d69-a1b7-a06f369f4bc1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"webhookId":"ce6dede6-62cd-4f63-acf7-7f4c24159da3"},{"parameters":{"method":"POST","url":"http://clamav:9000/scan","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"file"}]},"options":[]},"id":"f5e921d7-21a4-44ee-a541-b847a9ef381d","name":"ClamAV Scan","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[380,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.infected }}","value2":true}]}},"id":"18f8e7a0-02c3-4d40-b6c8-f2910ba7654a","name":"If Infected","type":"n8n-nodes-base.if","typeVersion":1,"position":[560,300]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/n8n/scan-callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"evidence_file_id\": \"{{ $(\u0027Webhook\u0027).first().json.body.evidence_file_id }}\",\n  \"scan_status\": \"infected\",\n  \"scan_details\": {{ JSON.stringify($json) }}\n}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"value":"application/json","name":"Accept"},{"value":"n8n_api_local_dev_key_12345","name":"X-N8n-Api-Key"}]}},"id":"0d2c9431-7bc7-4952-bf6e-6c0b1bb85a21","name":"Notify Laravel Infected","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[780,180]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/n8n/scan-callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"evidence_file_id\": \"{{ $(\u0027Webhook\u0027).first().json.body.evidence_file_id }}\",\n  \"scan_status\": \"clean\",\n  \"scan_details\": {{ JSON.stringify($json) }}\n}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"value":"application/json","name":"Accept"},{"value":"n8n_api_local_dev_key_12345","name":"X-N8n-Api-Key"}]}},"id":"97e6840d-d421-4f19-a419-f538e1a17cb4","name":"Notify Laravel Clean","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[780,420]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Read all data from Webhook JSON fields.\n// Laravel sends file_base64 and mime_type as plain text form fields,\n// so we never need to touch n8n binary data (which is inaccessible in the Code node sandbox).\nconst webhook = $(\u0027Webhook\u0027).first().json.body;\n\nreturn {\n  base64: webhook.file_base64,\n  mimeType: webhook.mime_type || \u0027application/octet-stream\u0027,\n  requirement_text: webhook.requirement_text || \u0027\u0027,\n  evidence_file_id: webhook.evidence_file_id || \u0027\u0027,\n  project_name: webhook.project_name || \u0027\u0027,\n  requirement_num: webhook.requirement_num || \u0027\u0027,\n  original_filename: webhook.original_filename || \u0027\u0027,\n  auditor_email: webhook.auditor_email || \u0027\u0027,\n  review_link: webhook.review_link || \u0027\u0027,\n  gemini_api_key: webhook.gemini_api_key || \u0027\u0027\n};"},"id":"e5c4b3a2-d1e0-4c9b-a8f7-e6d5c4b3a2a1","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[980,420]},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $json.gemini_api_key }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{ $json.mimeType }}\",\n            \"data\": \"{{ $json.base64 }}\"\n          }\n        },\n        {\n          \"text\": \"You are a professional PCI DSS Compliance Auditor. Analyze the attached document against this compliance requirement:\\n\\n\\\"{{ $json.requirement_text }}\\\"\\n\\nAnalyze the document carefully. Assess if the evidence is sufficient, partially sufficient, or completely lacking to meet the requirement. Write a formal audit observation and list actionable recommendations if there are gaps (or state \u0027None\u0027 if fully compliant).\\n\\nYou must return a JSON response matching the following structure:\\n{\\n  \\\"status\\\": \\\"completed\\\",\\n  \\\"observations\\\": \\\"Detailed analysis and observations explaining what the file shows and why it is/is not compliant.\\\",\\n  \\\"recommendations\\\": \\\"Actionable steps for remediation, or \u0027None\u0027 if fully compliant.\\\"\\n}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}","options":[]},"id":"b8d7c6b5-a4e3-4d2c-b1b0-c9a8f7e6d5c4","name":"Gemini API Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1160,420],"continueOnFail":true},{"parameters":{"jsCode":"if ($json.error) {\n  return {\n    status: \u0027failed\u0027,\n    observations: \u0027Gemini API Error: \u0027 + ($json.error.message || JSON.stringify($json.error)),\n    recommendations: \u0027Please check your API key and connection settings.\u0027\n  };\n}\nif ($json.candidates \u0026\u0026 $json.candidates[0]) {\n  try {\n    let responseText = $json.candidates[0].content.parts[0].text;\n    responseText = responseText.replace(/```json/g, \u0027\u0027).replace(/```/g, \u0027\u0027).trim();\n    const result = JSON.parse(responseText);\n    \n    let observations = result.observations || \u0027No observations generated by AI.\u0027;\n    if (Array.isArray(observations)) {\n      observations = observations.join(\u0027\\n\u0027);\n    } else if (typeof observations !== \u0027string\u0027) {\n      observations = JSON.stringify(observations);\n    }\n    \n    let recommendations = result.recommendations || \u0027None\u0027;\n    if (Array.isArray(recommendations)) {\n      recommendations = recommendations.join(\u0027\\n\u0027);\n    } else if (typeof recommendations !== \u0027string\u0027) {\n      recommendations = JSON.stringify(recommendations);\n    }\n    \n    return {\n      status: \u0027completed\u0027,\n      observations: observations,\n      recommendations: recommendations\n    };\n  } catch (e) {\n    return {\n      status: \u0027failed\u0027,\n      observations: \u0027Failed to parse Gemini response: \u0027 + e.message,\n      recommendations: \u0027Ensure the model output conforms to the JSON schema.\u0027\n    };\n  }\n}\nreturn {\n  status: \u0027failed\u0027,\n  observations: \u0027AI Analysis Failed: No candidates returned from Gemini API.\u0027,\n  recommendations: \u0027Verify the uploaded file format and content size.\u0027\n};"},"id":"c7b6a5a4-9e8d-4c7b-b6a5-f4e3d2c1b0a9","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,420]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/n8n/ai-callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"evidence_file_id\": \"{{ $(\u0027Prepare Data\u0027).first().json.evidence_file_id }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"observations\": {{ JSON.stringify($json.observations || \u0027\u0027) }},\n  \"recommendations\": {{ JSON.stringify($json.recommendations || \u0027\u0027) }}\n}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"value":"application/json","name":"Accept"},{"value":"n8n_api_local_dev_key_12345","name":"X-N8n-Api-Key"}]}},"id":"d6c5b4a3-8e7d-4c6b-a5a4-f3e2d1c0b9a8","name":"Notify Laravel AI","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1520,420]},{"parameters":{"fromEmail":"no-reply@compliancehub.com","toEmail":"={{ $(\u0027Prepare Data\u0027).first().json.auditor_email }}","subject":"=Evidence Awaiting Review: {{ $(\u0027Prepare Data\u0027).first().json.project_name }} - {{ $(\u0027Prepare Data\u0027).first().json.requirement_num }}","html":"=\u003ch3\u003eEvidence Awaiting Review\u003c/h3\u003e\n\u003cp\u003eA new evidence file has been uploaded and processed by AI. It is now awaiting your validation.\u003c/p\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cstrong\u003eProject:\u003c/strong\u003e {{ $(\u0027Prepare Data\u0027).first().json.project_name }}\u003c/li\u003e\n  \u003cli\u003e\u003cstrong\u003eRequirement:\u003c/strong\u003e {{ $(\u0027Prepare Data\u0027).first().json.requirement_num }}\u003c/li\u003e\n  \u003cli\u003e\u003cstrong\u003eFile Name:\u003c/strong\u003e {{ $(\u0027Prepare Data\u0027).first().json.original_filename }}\u003c/li\u003e\n\u003c/ul\u003e\n\u003cp\u003e\u003ca href=\"{{ $(\u0027Prepare Data\u0027).first().json.review_link }}\"\u003eClick here to view and validate the evidence.\u003c/a\u003e\u003c/p\u003e","options":{"emailFormat":"html"}},"id":"d8c7b6a5-9e8d-4c7b-b6a5-f4e3d2c1b0a9","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[1700,420],"credentials":{"smtp":{"id":"HS7gGj3ztcQbqrqB","name":"Mailpit SMTP"}}}],"connections":{"Webhook":{"main":[[{"node":"ClamAV Scan","type":"main","index":0}]]},"ClamAV Scan":{"main":[[{"node":"If Infected","type":"main","index":0}]]},"If Infected":{"main":[[{"node":"Notify Laravel Infected","type":"main","index":0}],[{"node":"Notify Laravel Clean","type":"main","index":0}]]},"Notify Laravel Clean":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Gemini API Call","type":"main","index":0}]]},"Gemini API Call":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Notify Laravel AI","type":"main","index":0}]]},"Notify Laravel AI":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"4182cf9b-437e-4fdc-a12b-43216ae054b1","activeVersionId":"4182cf9b-437e-4fdc-a12b-43216ae054b1","versionCounter":4,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-20T10:39:12.202Z","createdAt":"2026-06-20T10:39:12.202Z","role":"workflow:owner","workflowId":"lZCmyOmpCufKAW18","projectId":"qy1x7g85yYCaIPyJ","project":{"updatedAt":"2026-06-20T10:12:23.437Z","createdAt":"2026-06-20T10:12:23.437Z","id":"qy1x7g85yYCaIPyJ","name":"Unnamed Project","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"db06bb7a-44d3-4e61-b647-f2781321c3f7"}}],"versionMetadata":{"name":null,"description":null}}
